
  .header {
    height: 150px;
    text-align: center;
  }
  
  #span {
    color: rgb(194, 95, 128);
    font-size: 60px;
    
  }
  .span{
    color:rgb(255, 255, 255);
    font-size: 30px;
  }
  
  body {
    border-radius: 50px;
    border: 4px dotted rgb(255, 255, 255);
    font-family: 'Rokkitt', serif;
    background-size: 100% 100%;
    text-align: center;
    margin: auto;
    margin-top: 100px;
    padding: 20px;
    width: 50%;
    background-color: rgb(194, 95, 128);
    background-image: url("img.png")!important;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
  }
  
  #number {
    width: 30px;
    height: 10px;
    margin: 5px;
  }
  #btnCifrar {
    font-size: 20px;
    color: white;
    background: rgb(168, 73, 104);
    border: none;
    width: 120px;
    height: 35px;
    border-radius: 50rem!important;
    margin: 10px;
    font-family: 'Rokkitt', serif;
  }
  
  #btnCifrar:hover {
    color: black;
    background: white;
    border: none;
    transition-duration: 1s;
    cursor: pointer;
  }
  
  #btnDecifrar {
    font-size:20px;
    color: white;
    background: rgb(99, 51, 73);
    border: none;
    width: 120px;
    height: 35px;
    border-radius: 50rem!important;
    margin: 10px;
    font-family: 'Rokkitt', serif;
  }
  
  #btnDecifrar:hover {
    
    color: black;
    background: white;
    border: none;
    transition-duration: 1s;
    cursor: pointer;
  }
  .input{
    background-color: transparent;
    text-align: center;
    border: 1.5px solid white; 
    border-radius: 50px;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    color: rgb(168, 73, 104);
    font-family: 'Rokkitt', serif;
    font-size: 20px;
 
  }
  textarea:focus, input:focus, select:focus {
    border-color: none !important;
    outline: 0;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1.5px solid rgb(168, 73, 104);
}

  #img{
 position: absolute;
 margin: auto;
 margin-top: 10px;

  }
 
