
  header {
    height: 200px;
    text-align: center;
  }
  
  h1 {
    color: rgb(194, 95, 128);
    font-size: 60px;
    
  }
  h3{
    color: white;
  }
  
  body {
    border: 3px dotted rgb(31, 124, 124);
    font-family: 'Arial', sans-serif;
    background-size: 100% 100%;
    text-align: center;
    margin: auto;
    margin-top: 10px;
    padding: 20px;
    width: 50%;
    background-image: url("imagem.jpg")!important;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
  }
  
  #number {
    width: 30px;
    height: 10px;
    border: 1px solid rgb(84, 84, 104);
    font-weight: bold;
    margin: 5px;
  }
  #btnCifrar {
    font-size: 20px;
    font-weight: bold;
    color: white;
    background: rgb(168, 73, 104);;
    border: none;
    width: 120px;
    height: 35px;
    border-radius: 50rem!important;
    margin: 10px;
  }
  
  #btnCifrar:hover {
    font-weight: bold;
    color: black;
    background: white;
    border: none;
    transition-duration: 1s;
    cursor: pointer;
  }
  
  #btnDecifrar {
    font-size:20px;
    font-weight: bold;
    color: white;
    background: rgb(99, 51, 73);
    border: none;
    width: 120px;
    height: 35px;
    border-radius: 50rem!important;
    margin: 10px;
  }
  
  #btnDecifrar:hover {
    font-weight: bold;
    color: black;
    background: white;
    border: none;
    transition-duration: 1s;
    cursor: pointer;
  }
  input{
    text-align: center;
    border: 1px solid gray;
    border-radius: 10px;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
 
  }